controller_host:
controller_username:
controller_password:

eda_host:
eda_username:
eda_password:

sn_host:
sn_username:
sn_password:

telemetry_project_url:
opentelemetry_host_ip:
opentelemetry_host_name:
opentelemetry_host_username:
opentelemetry_host_password:

