# Ansible Automation Platform (OpenShift)
controller_host: https://ansible-controller-aap.apps.ocp.zaskan.es
controller_username: admin
controller_password:

eda_host: https://ansible-eda-aap.apps.ocp.zaskan.es
eda_username: admin
eda_password:

# Git project (branch openshift must exist on remote)
telemetry_project_url: https://github.com/zaskan/summit_connect_24.git

# ITSM app (bootstrap admin from itsm-app namespace)
itsm_host: https://itsm-app-itsm-app.apps.ocp.zaskan.es
itsm_username:
itsm_password:

# OpenShift API for remediation (create token for demo-remediator SA)
openshift_api_host: https://api.ocp.zaskan.es:6443
openshift_api_token:
openshift_namespace: otel-demo
